

1. What are the differences between operators and values in the following?
*,
'hello',
-87.8,
-,
/,
+,
6,

In [ ]:
# values are for performing operations (operand)
# opertors are for mathematical operations

What is the difference between string and variable?
spam,
'spam'

In [ ]:
# 'spam' , it is iterable
# spam , it is not iterable and it is a container

3. Describe three different data forms.

In [ ]:
# int - numerical values

# str - iterable , enclosed within quotations

# float - decimal values

4. What makes up an expression? What are the functions of all expressions?

In [ ]:
# expressions are made up of Atoms, Primaries and Operators

# * - > multiplication
# + - > addition
# - -> subtraction

5.In this chapter, assignment statements such as spam = 10 were added. What's the difference between a declaration and an expression?

In [ ]:
# declaration -> declaring a value to the variable

# expression -> performing some mathematical operations , for example , spam+2

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [2]:
bacon = 22
bacon+=1
bacon

23

7. What should the values of the following two terms be?

'spam' + 'spamspam',
'spam' * 3

In [3]:
'spam' + 'spamspam'

'spamspamspam'

In [4]:
'spam' * 3

'spamspamspam'

8. Why is it that eggs is a true variable name but 100 is not?

In [ ]:
""" According to variable naming convention ,
the variable name should not start with number.
"""

9. Which of the following three functions may be used to convert a value to an integer, a floating-point number, or a string?

In [ ]:
# value to an integer

int()

In [ ]:
#a floating-point number

float()

In [8]:
# a string

str()

10. What is the error caused by this expression? What would you do about it?

'I have eaten ' + 99 + ' burritos.'

In [ ]:
# error = TypeError

# Reason : We are trying to concatenate str and int.